/* src/index.css */

/* Tarayıcının varsayılan stillerini sıfırlama (Reset CSS) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tüm sayfa için temel stil ayarları */
:root {
  --primary-color: #007bff; /* Mavi tonu, kendi ana renginizi belirleyin */
  --secondary-color: #6c757d;
  --background-color: #f8f9fa; /* Açık arka plan */
  --text-color: #343a40; /* Koyu metin rengi */
  
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}